

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html,
body {
    background-color: #fff;
    color: #444;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
	margin: 0;
/*	height: 100%;*/
	overflow: visible;
    
}


.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*

-----HEADER-----

*/


header{
    background-image:  url(img/header-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.row{
    max-width: 1120px;
    margin: 0 auto;
}

#name-img{
    float: right;
    padding-top: 10%;
    padding-left:20%;
}
.name-screen {
    width: 90%;
}

.main-nav{
    float: right;
    list-style: none;
    
}

.main-nav li{
    display: inline-block;
    margin: 5px;
    padding: 9px 10px;
    font-weight: 500;
    
    
}

.main-nav li a:link
.main-nav li a:visited{
    font-family: 'muli';
   
}


/*
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid  #4c4cff;
    transition: border-bottom 0.2s;
}
*/



/*
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 6px 10px;
    font-weight: 500;
    text-decoration: none;
}
*/


/*

----BUTTONS-----

*/

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #4c4cff;
    border: 1px solid #4c4cff;
    color: #fff;
    border-radius: 200px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 10px;
     
}


.btn-full:hover,
.btn-full:active {
    border: 1px solid #4c4cff;
    background-color: #2a2aff;
    transition: background-color 0.2s;
    
}

.btn-ghost:link,
.btn-ghost:visited{
    font-size: 0.7em;
    color: #000;
     text-transform: uppercase;
    transition: border-bottom 0.2s;
    text-decoration: none;
   
}

.btn-ghost:hover,
.btn-ghost:active{
    border-bottom: 2px solid  #4c4cff;
    transition: border-bottom 0.2s;
    padding: 4px 0;
}

/*

-----ABOUT ME / PERSONAL ------

*/


.section-about {
    padding: 80px 0;
}

.box {
    padding: 1%;
}
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #4c4cff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- ICONS ----- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #4c4cff;
    margin-bottom: 10px;
	text-align: center;
}


.section-about-me .long-copy {
    margin-bottom: 30px;
}


/* ----- SECTION SKILLS ----- */


section#skills.sectoin-skills {
	padding: 100px 0;
	background-color: indianred;
}

































/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}



.js--wp-1.animated,
.js--wp-2.animated
 {
    opacity: 1;
}