

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html,
body {
    background-color: #fff;
    color: #444;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
	margin: 0;
	height: auto;
	overflow: visible;

	background-size: cover;

}

body{
	max-width: 100%;
}


.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*

-----HEADER-----

*/


header{
    background-image:  url(img/header-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
	background-size: cover;
}

.row{
    max-width: 1120px;
    margin: 0 auto;
}

#name-img{
    float: right;
    padding-top: 10%;
    padding-left:20%;
}
.name-screen {
    width: 90%;
}



/*----MAIN NAVI---*/


.main-nav{
    float: right;
    list-style: none;

}

.main-nav li{
    display: inline-block;
    margin: 5px;
    padding: 9px 10px;
    font-weight: 500;



}
a.btn.btn-ghost{
	color: #0b7bf9;
}

.main-nav li a:link
.main-nav li a:visited{
    font-family: 'muli';

}

/*----MOBILE NAVI WITH ICON-----*/

.mobile-nav-icon{
	float:right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
}

.mobile-nav-icon i{
	font-size: 180%;
	color: #000;

}


/*----TIE-----*/


.tie{
	height: 90px;
	width: 90px;
	margin-top: 50%;
    margin-left: 35%;
	display: none;
}



/*----STICKY NAVI-----*/

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 18px;
	height: 55px;
	width: 55px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }


.sticky{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.99);
	-webkit-box-shadow: 0 2px 2px #efefef;
	box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}


.sticky.main-nav li a:link
.sticky.main-nav li a:visited{
    font-family: 'muli';

}


.sticky.btn-full:link,
.sticky.btn-full:visited,
input[type=submit] {
    background-color: #0b7bf9;
    border: 1px solid #4c4cff;
    color: #fff;
    border-radius: 200px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 10px;

}


.sticky.btn-full:hover,
.sticky.btn-full:active {
    border: 1px solid #4c4cff;
    background-color: #2a2aff;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;

}

.sticky.btn-ghost:link,
.sticky.btn-ghost:visited{
    font-size: 0.7em;
    color: #000;
     text-transform: uppercase;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    text-decoration: none;

}

.sticky.btn-ghost:hover,
.sticky.btn-ghost:active{
    border-bottom: 2px solid  #4c4cff;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    padding: 4px 0;
}



/*----BUTTONS-----*/



.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #0b7bf9;
    border: 1px solid #4c4cff;
    color: #fff;
    border-radius: 200px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 10px;

}


.btn-full:hover,
.btn-full:active {
    border: 1px solid #4c4cff;
    background-color: #2a2aff;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;

}

.btn-ghost:link,
.btn-ghost:visited{
    font-size: 0.7em;
    color: #000;
     text-transform: uppercase;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    text-decoration: none;

}

.btn-ghost:hover,
.btn-ghost:active{
    border-bottom: 2px solid  #4c4cff;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    padding: 4px 0;
}

/*

-----ABOUT ME / PERSONAL ------

*/


/*
.section-about {
    padding: 80px 0;
}
*/
.row.about{
	margin-top: -60px;
}
.box {
    padding: 1%;
}
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 25px;
	margin-top: 35px;
    letter-spacing: 1px;
	padding-top: 20px;

}

.font-size{
    font-weight: 1000;
}
/*
row.about{
	margin-top: -10px;
}
*/

.section-about h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #4c4cff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*-----SECTION SKILLS----*/

/*
.section-skills{
	padding: 50px;
}
*/
/*
section.section-skills{
	margin-top: -15px;
}
*/


/* ----- PARAGRAPHS ----- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- ICONS ----- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #0b7bf9;
    margin-bottom: 10px;
	text-align: center;
}


.section-about-me .long-copy {
    margin-bottom: 30px;
}


/* ----- SECTION SKILLS ----- */




/*-----SECTION PROJECTS -----*/

.section-projects{
	margin-top: 5%;
}

p.view-project{
	margin-bottom: 10px;
	text-align: center;
	font-weight: 300;
}

.box img {

    width: 96%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.section-projects h3{
	margin-top: 15px;
}

/*----IMAGE HOVER---*/



.box img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}




/*----SECTION CONTACT SKEWED BACKGROUND-----*/


.section-black{
	width: 100%;
	height: 250px;
	background: #444;
	position: relative;
	margin-top: 40px;
}

.section-blue{
	width: 100%;
	height: 20px;
	background: #0b7bf9;
	position: relative;

}

.section-black:before{
	content: " ";
	width: 50%;
	height: 30px;
	position: absolute;
	top: -50px;
	left: 0;
	background: #0b7bf9;
	-webkit-transform: skewY(5deg);
	transform: skewY(5deg);
	margin-top: 50px;

}


.section-black:after{
	content: " ";
	width: 50%;
	height:30px;
	position: absolute;
	top: -50px;
	right: 0;
	background: #0b7bf9;
	-webkit-transform: skewY(-5deg);
	transform: skewY(-5deg);
		margin-top: 50px;
}





/*----SECTION FOOTER----*/

/*
hr{
text-align: center;
	margin-left: 36.%;
	margin-top: 7px;
	
}
*/
.section-footer{
	margin-top: 40px;
}

p.lets-make{
	text-align: center;
/*	content: "\201C";*/
}

.contact{

	padding-top: 70px;
	list-style: none;
}
ul.social-links{
	text-align: center;
	padding: 15px;
}
.social-links li{
	display: inline-block;
}


.footer-nav{
	list-style: none;
	text-align: center;

}
.footer-nav li a:link,
.footer-nav li a:visited{
	color: #fff;
	font-size:0.8em;
	text-decoration: none;

}

#socialIcon{
	width: 30px;
	height: 30px;
}





.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #aaa;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #eee;
}


p.copy-right {
	padding-top: 10px;
	color: #aaa;
	font-size: 0.6em;
	text-align: center;
	cursor: pointer;
}

p.copy-right:hover{
	color:#eee;
}




/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-2,
.js--wp-3,
#js--wp-4,
#js--wp-5
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}



.js--wp-2.animated,
.js--wp-3.animated,
#js--wp-4.animated,
#js--wp-5.animated
 {
    opacity: 1;
}
