

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}

/*

-----HEADER-----

*/


header{
    background-image:  url(img/header-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.row{
    max-width: 1300px;
/*    margin: 0 auto;*/
}

#name-img{
    float: right;
    padding-top: 10%;
    padding-left:20%;
    padding-right: 8%;
}

.main-nav{
    float: right;
    list-style: none;
    
}

.main-nav li{
    display: inline-block;
    margin: 5px;
    padding: 9px 10px;
    font-weight: 500;
    
    
}

.main-nav li a:link
.main-nav li a:visited{
    font-family: 'muli';
   
}


/*
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid  #4c4cff;
    transition: border-bottom 0.2s;
}
*/




/*
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 6px 10px;
    font-weight: 500;
    text-decoration: none;
}
*/


/*

----BUTTONS-----

*/

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #4c4cff;
    border: 1px solid #4c4cff;
    color: #fff;
    border-radius: 200px;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 10px;
    
    
}


.btn-full:hover,
.btn-full:active {
    border: 1px solid #4c4cff;
    background-color: #2a2aff;
    transition: background-color 0.2s;
    
}

.btn-ghost:link,
.btn-ghost:visited{
    font-size: 0.7em;
    color: #000;
     text-transform: uppercase;
    transition: border-bottom 0.2s;
    text-decoration: none;
   
    
}
.btn-ghost:hover,
.btn-ghost:active{
    border-bottom: 2px solid  #4c4cff;
    transition: border-bottom 0.2s;
    padding: 4px 0;
}

